@model NetBankWebApp.Models.Models.TermDeposit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TermDeposit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
